.container-login {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color_1);
  }

  .box-login {
    margin-top: 2vh;
    width: 20%;
    height: auto;
    border: solid 1px rgba(240, 248, 255, 0.1) ;
    padding: 1rem;
  }

  .invite-login {
    font-weight: 200;
    color: rgba(240, 248, 255, 0.8);
  }

  .lablog-email {
    color: rgba(240, 248, 255, 0.8);
    font-size: 14px;
  }

  .iptlog-email {
    margin-top: 1vh;
    border: solid 2px rgba(240, 248, 255, 0.1) ;
    border-radius: 7px;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    padding-left: 0.5vw;
    color: rgba(240, 248, 255, 0.8);
  }

  .iptlog-email:focus, .iptlog-pass:focus {
    border: solid 2px #29903b ;
  }

  
  
  .pass-row {
    margin-top: 2.5vh;
    display: inline-flex;
  }

  .lablog-pass {
    color: rgba(240, 248, 255, 0.8);
    font-size: 14px;
  }

  .btn-fgt {
    margin-left: 3.7vw;
    position: relative;
    border: none;
    background-color: transparent;
    color: #29903b;
  }

  .iptlog-pass {
    margin-top: 1vh;
    border: solid 2px rgba(240, 248, 255, 0.1) ;
    border-radius: 7px;
    width: 100%;
    height: 5vh;
    background-color: transparent;
    padding-left: 0.5vw;
    color: rgba(240, 248, 255, 0.8);
  }

  .signin {
    width: 100%;
    height: 2rem;
    margin-top: 2vh;
    border: none;
    border-radius: 7px;
    background-color: #29903b;
    color: white;
  }

  .login-popup {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    height: 5vh !important;
    width: 13vw !important;
    box-shadow: none !important;
    text-align: center !important;
    padding: 0 !important;
  }
  
  .login-popup .swal2-icon {
    background-color:#1ed760 !important;
    box-shadow: none !important;
    font-size: 13px !important; /* Reduz o tamanho do ícone */
    margin: 0; /* Remove margens */
    
  }
  
  .box-more {
    margin-top: 2vh;
    width: 20%;
    height: auto;
    border: solid 1px rgba(240, 248, 255, 0.1) ;
    padding: 1rem;
    color: #29903b;
    text-align: center;
    font-size: 13px;
    display: flex;
    flex-direction: column;
  }

  .passkey { 
    cursor: pointer;
    font-weight: 500;
  }

  .sp-qst {
    position: relative;
    margin-top: 1vh;
    color: rgba(240, 248, 255, 0.8);    
  }

  .sp-qst a {
    cursor: pointer;
    margin-top: 1vh;
    margin-left: 0.3vw;
    color: #29903b;
  }
