@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.container-signup {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color_1);
}

.intro-signup {
    height: 100%;
    width: 40%;
    background-color: var(--color_1);
}



.signup {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}


.register {
    height: 100%;
    width: 65%;
    background-color: var(--color_1);
    padding: 5.5rem;
}

.image-intro {
    position: relative;
    display: flex;
    top: -2rem;
    left: -5rem;
    width: 70rem;
}

.btn-intro-access {
    position: relative;
    display: flex;
    top: -2rem;
    left: 3rem;
}

.login-btn { 
    position: relative;
    height: 2rem;
    width: 4rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 14px !important;
    color: var(--color_14);
    background-color:rgba(181, 76, 255, 0.2);
}

.login-btn:hover { 
   cursor: pointer;
    background-color:rgba(181, 76, 255, 0.26);
}


.isologo-box {
    position: relative;
    display: inline-flex;
    top: -3rem;
    font-size: 20px !important;
    width: 100%;
}

.isologo-box h3 {
    position: relative;
    display: inline-flex;
    color: var(--color_14);
    font-weight: 600;
}


.invite-signup {
    color: var(--color_2);
    font-weight: 500;
}

.lab-email {
    position: relative;
    display: flex;
    margin-top: 4vh;
}

.email {
    margin-top: 0.5vw;
    display: flex;
    width: 95%;
    height: 6vh;
    background-color: var(--color_6);
    border: solid 1px var(--color_8) ;
    border-radius: 0.5vw;
    padding-left: 1vw;
    font-size: 14px;
}

.email:focus, .pass:focus, .username:focus {
    border: solid 2px var(--color_14) ;
}

.lab-pass {
    position: relative;
    display: flex;
    margin-top: 4vh;
}

.valid-pass {
  color: rgba(63, 196, 110, 0.5) !important;
}

.pass {
    margin-top: 0.5vw;
    display: flex;
    width: 95%;
    height: 6vh;
    border: solid 1px var(--color_8) ;
    background-color: var(--color_6);
    border-radius: 0.5vw;
    padding-left: 1vw;
    font-size: 14px;
} 

.pass-error { 
    border: solid 2px red ;

}

.warn-pass {
    position: relative;
    margin-top: 0.5vh;
    font-size: 12px !important;
    color: var(--color_2);
    font-weight: 500;
    transition: color 0.3s ease;
}


.error-shake {

    color: red;
    animation: shake 0.4s;
}

.lab-username {
    position: relative;
    display: flex;
    margin-top: 4vh;
}

.username {
    margin-top: 0.5vw;
    display: flex;
    width: 95%;
    height: 6vh;
    border: solid 1px var(--color_8) ;
    background-color: var(--color_6);
    border-radius: 0.5vw;
    padding-left: 1vw;
    font-size: 14px;
} 

.btn-signup {
    margin-top: 3rem;
    width: 95%;
    height: 8vh;
    background-color: var(--color_14);
    color: var(--color_1);
    font-size: 24px;
    font-weight: 600;
    border-radius: 0.5vw;
    border: none;
}

.register-alert {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    height: 5vh !important;
    width: 20vw !important;
    box-shadow: none !important;
    text-align: center !important;
    padding: 0 !important;
  }
  
  .register-alert .swal2-icon {
    background-color:#1ed760 !important;
    box-shadow: none !important;
    font-size: 13px !important; /* Reduz o tamanho do ícone */
    margin: 0; /* Remove margens */
    
  }
  