.container {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--color_1);

}
.header {
    display: fixed;
    top: 0;
    width: 100vw;
    height: 8vh;
    background-color: var(--color_1);
    border-bottom: solid 2px rgba(240, 248, 255, 0.1);
}

.sidebar {
    position: fixed;
    left: 0;
    top: 8vh;
    margin: 0;
    width: 32vh;
    height: 92vh;
    border: solid 2px rgba(240, 248, 255, 0.1) ;
    border-top: none;
    border-bottom: none;
    border-left: none;

}

.home {
    position: fixed;
    top: 8vh;
    left: 17vw;
    height: 92vh;
    width: 85vw;

}

.info-day h2 {
    margin : 2vh;
}