.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--color_1);
  filter: none; 
  transition: filter 0.7s ease; 
}

.container-blur{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color_1);
  filter: blur(2px); 
  transition: filter 0.7s ease;
  overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  top: 0;
  width: 100vw;
  height: 7%;
  background-color: var(--color_1);
  border-bottom: solid 0.5px rgba(240, 248, 255, 0.05);
}

.search-input {
  position: absolute;
  right: 12vw;
  top: 1.3vh;
}

.search-ipt {
  cursor: pointer;
  background-color: var(--color_5);
  height: 4.5vh;
  width: 12vw;
  padding-left: 0.5vw;
  color: var(--color_7);
  font-size: 12px;
  border: solid 2px var(--color_) ;
  border-radius: 7px;
}

.search-ipt::placeholder {
  color: var(--color_3);
}


.btn-header {
  position: absolute;
  display: inline-flex;
  right: 2vw;
  margin-top: 0.5rem;
}

.acc {
  background-color: transparent;
  border: none;
}

.set {
  background-color: transparent;
  border: none;
}

.not {
  background-color: transparent;
  border: none;
}
.icon-header {
  color: var(--color_3);
}


.icon-header:hover {
  cursor: pointer;
  color: var(--color_2);
}


.sidebar {
  position: fixed;
  left: 0;
  top: 8vh;
  margin: 0;
  width: 17%;
  height: 92vh;
  border: solid 0.5px rgba(240, 248, 255, 0.05) ;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.title-area {
  color: var(--color_3);
  padding-top: 3vh;
  margin-left: 2vw;
}

.subtitle-area {
  margin-top: -0.5vh;
  margin-left: 2vw;
  color: rgba(240, 248, 255, 0.4);
}

.intro {
  margin-top: 4vh;
  margin-left: 2vw;
  font-size: 10px;
  font-weight: 600;
  color: var(--color_3);
}



.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  padding: 0.5vw;
}

.info-view {
  position: relative;
  display: flex;
  left: -7.8rem;
  top: 0.1rem;
  text-align: start;
  font-size: 13px;
  margin-bottom: 2vh;
}

.btn-view {
  display: flex; /* Oculta quando o details está fechado */
  flex-direction: column; /* Faz os botões ficarem um abaixo do outro */
}

.btn-view-enable button {
  display: flex;
  flex-direction: column;
  color: #88bcff !important;
  background-color: #132e54 !important;
  border: none;
  margin-top: 0.5vh;
  margin-left: 1vw ;
  margin-right: 1vw;
  height: 6vh;
  border-radius: 5px;
  text-align: start;
  color: var(--color_3);
}

.btn-details {
  color: var(--color_3);
}

.arrow-board {
  position: relative;
  display: flex;
  margin-left: 9rem;
}

.icon-board {
  position: relative;
  font-size: 20px !important;
}

.buttons select {
  background-color: var(--color_1);
  border: none;
  margin-top: 0.5vh;
  margin-left: 1vw ;
  height: 6vh;
  border-radius: 5px;
  text-align: start;
  color: var(--color_3);
  
}

.buttons button {
  background-color: var(--color_1);
  border: none;
  margin-top: 0.5vh;
  margin-left: 1vw ;
  margin-right: 1vw ;

  height: 6vh;
  border-radius: 5px;
  text-align: start;
  color: var(--color_3);
}


.buttons button:hover {
  background: var(--color_6);
}

.home {
  position: fixed;
  top: 8vh;
  left: 17vw;
  margin-left: 0.5vw;
  height: 92vh;
  width: 85vw;

}

.btn-view-enable button {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #88bcff !important;
  background-color: #132e54 !important;
  border: none;
  margin-top: 0.5vh;
  margin-left: 1vw ;
  margin-right: 1vw;
  padding-top: 2vh;
  width: 87%;
  height: 6vh;
  border-radius: 5px;
  text-align: start;
  color: var(--color_3);
}
.info-day h3 {
  margin : 2%;
  margin-left: 3%;
  color: var(--color_3);
  margin-bottom: 3vh;
}

.slc {
position: absolute;
left: 0;
z-index: 1000;
display: inline-flex;
margin-left: 2.5vw;
}

.input {
cursor: pointer;
background-color: var(--color_5);
height: 4.5vh;
width: 7vw;
align-items: center;
text-align: center;
padding-left: 0.5vw;
color: var(--color_7);
font-size: 12px;
border: solid 2px var(--color_) ;
border-radius: 7px;
}

.calendar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--color_3);
}

.icon-calendar {
  position: relative;
  font-size: 19px !important;
  top: 0.2vh;
}

.react-datepicker {
background-color: #1d2125 !important; /* Cor do cabeçalho */
border: solid 2px var(--color_) !important ;
border-radius: 20px !important;
margin-top: 5.5vh;
margin-left: -15vw;
}

/* Estilizando o cabeçalho do DatePicker */
.react-datepicker__header {
  background-color: #1d2125 !important; /* Cor do cabeçalho */
  border-bottom: none !important;    

}

/* Estilizando o mês e o ano do cabeçalho */
.react-datepicker__current-month {
  color: var(--color_3) !important;
  
}

/* Estilizando os dias */
.react-datepicker__day {
  background-color: #1d2125 !important; /* Cor de fundo dos dias */
  color: var(--color_3) !important;
  transition: background-color 0.3s, color 0.3s; /* Transição suave */
  padding: 8px; /* Padding dos dias */
  text-align: center; /* Alinhar o texto dos dias */
  height: 3vh;
}

/* Efeito de hover sobre os dias */
.react-datepicker__day:hover {
  color: rgb(240, 248, 255) !important; /* Cor do texto ao passar o mouse */
}

/* Estilo do dia selecionado */
.react-datepicker__day--selected {
  color: red !important; /* Cor do texto no dia selecionado */
  border: solid 1px #1d2125 !important;
  font-weight: bold;
}

.react-datepicker__day-name {
  color: var(--color_3) !important;
  font-weight: bold; /* Deixar os nomes dos dias em negrito */
  height: 3vh;
}

.nav-section div {
  position: relative;
  height: 4.5vh;
  padding-right: 1vw;
  padding-left: 1vw;
  border: solid 2px var(--color_) ;
  border-radius: 20px;
  margin-right: 0.2rem;
  text-align: center;
  background-color: var(--color_1);
  color: var(--color_2);
  background-color: var(--color_5);
  font-weight: 300;

}

.nav-section li {
  list-style: none;
}


.nav-section button {
  position: relative;
  height: 4.5vh;
  padding-right: 1vw;
  padding-left: 1vw;
  border: solid 2px var(--color_) ;
  border-radius: 20px;
  margin-right: 0.2rem;
  text-align: center;
  background-color: var(--color_1);
  color: var(--color_2);
  background-color: var(--color_5);
  font-weight: 400;

}


.nav-section button:hover {
  outline: none; /* Remove o contorno padrão do foco */
  background-color: var(--color_5);
  border: solid 2px var(--color_3) ;
  color: var(--color_2) !important;
}

.nav-section ul {
  display: inline-flex;
}

.editable-button {
  direction: ltr !important
  ; /* Garante que o texto seja inserido da esquerda para a direita */
  text-align: left !important; /* Alinha o texto à esquerda */
  padding: 5px !important; /* Adiciona um pouco de padding ao redor do texto */
  white-space: nowrap !important; /* Impede quebras de linha inesperadas */

}

.nav-section .selected {
  outline: none; /* Remove o contorno padrão do foco */
  background-color: var(--color_5);
  background: linear-gradient(100deg, var(--color_9), var(--color_10), var(--color_11));
  border: solid 2px var(--color_3) ;
  font-weight: 900 !important;
  color: var(--color_1) !important;
}



.info-btn {
  position: relative;
}

.ic-section {
  position: inherit;
  font-size:14px !important;
  top: 0.2rem;
}

.insights {
  position: absolute;
  right: 5vw;
  color: var(--color_3);
}

.icon-insight {
  position: inherit;
  left: 5px;
  margin-top: 1px;
}

.insights-btn {
  align-items: center;
  background-color: var(--color_5);
  border: solid 2px var(--color_) ;
  height: 4.5vh;
  width: 7vw;
  color: var(--color_3);
  font-size: 14px;
  padding-left: 2.5vw;
  padding-bottom: 0vw;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.insights-btn:active {
  cursor: pointer;
}

.insight-board {
  display: none;
  margin-left: -14vw;
  margin-top: 3vh;
  height: 72vh;
  width: 22vw;
  background-color: rgba(240, 248, 255, 0.05);
}

.board {
  position: relative;
  top: 14vh;
  margin-bottom: 1vh;
  margin-left: 2vw;
  font-weight: 400;

}

summary {
  display: inline-flex;
  width: auto;
  list-style: none;
  appearance: none;
  cursor: pointer;
  color: var(--color_3);
}

.title {
  margin-top: 0.5vh;
  font-size: 16px;
}
.list {
  margin: 0;
  width: 77vw;
  font-weight: 400;
  background-color: var(--color_5);
  border: solid 1px var(--color_) ;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  
} 

.list li {
  height: 4vh;
  margin-left: -3vw;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
  border-bottom: solid 1px var(--color_) ;
}

.task-type {
  position: relative;
  top: -5%;
  color: var(--color_1);
  font-weight: 600;
}
.task-id {
  position: relative;
  top: -5%;
  color: var(--color_12);
  margin-right: 0.7vw;
}

.man-btn {
  position: fixed;
  width: 4%;
  display: inline-flex;
  left: 92%;
  color: transparent;

}

.span-name {
  position: relative;
  top: -5%;
  cursor: pointer;
}

.span-name:hover{
  color: var(--color_4);
 
}

.task-state-icon {
  position: relative;
  top: 0.1vh  ;
  width: 1.2%;
  height: 63%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 1vw;
  border-radius: 4px;
  padding: 0.9%;
  color: var(--color_1);
}

/* Estilo para "Done" */
.task-state-icon.done {
  background-color: #2ac082;
}

/* Estilo para "In Progress" */
.task-state-icon.doing {
  background-color: #2196F3;
}

/* Estilo para "Not Done" */
.task-state-icon.not-done {
  background-color:  #F44336;
}


.icon-man {
  position: relative;
  top: 0.4rem;
  margin-top: -1rem;
}

.man-btn:hover {
  cursor: pointer;
  display: inline-flex;
}

.ic-state {
  font-size: 14px !important;
  font-weight: 900 !important;
}



#edit, #delete {
  background-color: transparent;
  border: none;
  color: transparent;
  z-index: 999;
  cursor: pointer;
}

#edit {
  margin-right: -0.8rem;
}

.man-btn #edit:hover {
  color: var(--color_4);
}

.man-btn #delete:hover {
  color: var(--color_4);
}


.add-issue {
  margin-top: 1vh;
  background-color: transparent;
  border: none;
  color: var(--color_3);
  font-size: 16px;
  text-shadow: 0px 1px 0.1px rgba(0, 0, 0, 10);
  font-size: 14px;
  cursor: pointer;
}

.length {
  font-size: 13px;
  color: var(--color_3);
  margin-top: 0.9vh;
  margin-left: 0.6vw;
}

.lenght-off {
  display: none;
}

.loading-icon {
  position: relative;
  margin-left: -0.1rem;
  top: 0.1rem;
}

#modal-root {
  position: absolute;
  top: 8vh;
  height: 92vh;
  width: 100vw;
  z-index: 1000;
}

#modal-task {
  position: absolute;
  top: 8vh;
  height: 92vh;
  width: 100vw;
  z-index: 1000;
}

.overlay {
  position: fixed;
  left: 15vw;
  top: 5vh;
  height: 90vh;
  width: 70vw;
  background: var(--color_6);
  filter: none;
  padding-top: 3vh;
  padding-left: 3vw;
}

.overlay-task {
  position: fixed;
  left: 5vw;
  top: 5vh;
  height: 90vh;
  width: 90vw;
  background: var(--color_6);
  filter: none;
  padding-top: 3vh;
  padding-left: 1vw;
}

.title-over {
  color: var(--color_3);
  font-size: 20px;
}

.select-options {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  width: 22vw;
}

.lab {
  color: var(--color_3);
  font-size: 12px;
}

.labsu {
  margin-top: 4vh;
  color: var(--color_3);
  font-size: 12px;
}

.labss {
  display: flex;
  margin-top: 6vh !important;
  font-size: 14px;
  color: var(--color_4);
}

.list-btn-mt {
  gap: 0.5vw;
  list-style: none;
  left: -2.5rem;
  margin-top: 0.3rem;
  position: relative;
  display: inline-flex;
}

.list-btn-mt button {
  background-color: transparent;
  color: var(--color_4);
  border: none;
  border-radius: 10vw;
  padding: 0.4rem;
  padding-left: 0.7rem;
  padding-right: 0.9rem;
  padding-bottom: 0.6rem;
 cursor: pointer;
  font-size: 13px !important;

}

.list-btn-mt button:hover {
  background-color: rgba(255, 255, 255, 0.1);

}

.ic-mt-list { 
  position: relative;
  top: 0.2rem;
  font-size: 17px !important;
}




.input-select {
  margin-top: 0.5vh;
  margin-bottom: 4vh;
  height: 2.3rem;
  width: 22vw;
  background-color: var(--color_1);
  border: none;
  color: var(--color_3);
  ;
}


.input-select::placeholder {
  font-size: 14px;
  font-weight: 400;
  padding-left: 0.5vw;
  color: rgba(240, 248, 255, 0.4)
}


.input-summary {
  margin-top: 0.5vh;
  margin-bottom: 2vh;
  height: 2.3rem;
  width: 64vw;
  background-color: var(--color_1);
  border: none;
  color: var(--color_3);
  ;
}


.input-summary::placeholder {
  font-size: 14px;
  font-weight: 400;
  padding-left: 0.5vw;
  color: rgba(240, 248, 255, 0.4);

}



.custom__control {
  margin-top: 0.5vh;
  background-color: var(--color_1) !important; /* Cor de fundo */
  border: none !important; /* Borda */
  height: 1vh; /* Altura */
  box-shadow: none !important; /* Remove sombra */
  cursor: pointer!important;
}

.custom__placeholder {
  color: rgba(240, 248, 255, 0.4) !important;
  font-size: 14px; /* Estilo em itálico */
}

.custom__single-value	{
  color: rgba(24, 24, 24, 0.9) !important;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}


.custom__menu {
  background-color: var(--color_1) !important; /* Cor de fundo */
  color: rgba(240, 248, 255, 0.4);
  margin-top: 0.5vh;
  z-index: 9999;
  font-size: 14px; /* Estilo em itálico */

}
.custom__option {
  background-color: var(--color_1); /* Cor de fundo */
  cursor: pointer !important; /* Cursor de clique */
}

.custom__option:hover {
  cursor: pointer !important;
}


.custom__option--is-selected {
  color: var(--color_3);
}

.react-select__option--urgent {
  background-color: #e63946 !important ;
  color: white;
}

.react-select__option--high {
  background-color: #f77f00 !important;
  color: white;
}

.react-select__option--medium {
  background-color: #ffcc00 !important;
  color: black;
}

.react-select__option--low {
  background-color: #2a9d8f !important;
  color: white;
}

/* Valor selecionado */
.react-select__single-value--urgent {
  background-color: #e63946 !important ;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.react-select__single-value--high {
  background-color: #f77f00 !important;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.react-select__single-value--medium {
  background-color: #ffcc00 !important;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.react-select__single-value--low {
  background-color: #2a9d8f !important;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.custom-quill {
  margin-top: 2vh;
  width: 64vw;
  
}

.custom-quill .ql-container {
  border: 1px solid var(--color_) !important;
  background-color: var(--color_1); /* Cor de fundo */
  font-size: 16px; /* Tamanho do texto */
  color: var(--color_4) !important;

}

.custom-quill .ql-toolbar {
  border: 1px solid var(--color_) !important;
  margin-top: 0.5vh;
  background-color: var(--color_1); /* Fundo da barra */  
}

.custom-quill .ql-toolbar button {
  color: var(--color_4) !important;
}

.custom-quill .ql-editor {
  min-height: 22vh; /* Altura mínima */
  padding: 15px; /* Espaçamento interno */
  color: var(--color_4) !important;

}


.create-off, .cancel-off, .title-off, .select-off, .navi-off, .modalTask-off, .state-off, .off {
  display: none;
}

.create:disabled {
  cursor: not-allowed;
}

.btn-over {
  position: absolute;
  display: inline-flex;
  bottom: 2vh;
  right: 1vw;
}

.btn-over .create {
  cursor: pointer;
  height: 4.5vh;
  width: 5vw;
  background-color: #132e54;
  border: none;
  color: #88bcff;
  font-size: 16px;
  margin-right: 0.5vw;
}

.btn-over .create:hover {
  color: rgb(178, 211, 253);
}

.btn-over .cancel {
  cursor: pointer;
  height: 4.5vh;
  width: 5vw;
  background-color: transparent;
  border: none;
  font-size: 16px;
  margin-right: 1vw;
  color: var(--color_3);
}

.btn-over .cancel:hover {
  color: rgb(240, 248, 255);
}

.tasks {
  text-align: start;
  padding-top: 0.5vh ;
  padding-left: 1vw;
  color: var(--color_3);
}

.navi-btn {
  position: absolute;
  right: 1vw;
  top: 2vh
}

.cancel-mt {
  background-color: transparent;
  border: none;
  color: var(--color_2);
  cursor: pointer;
}

.more-mt {
  background-color: transparent;
  border: none;
  color: var(--color_2);
  cursor: pointer;
}

.share-mt {
  background-color: transparent;
  border: none;
  color: var(--color_2);
  cursor: pointer;
}

.ctn-task {
  display: inline-flex;
}

.info-task {
  width: 55vw;
}

.modaltask-title {
  margin-top: 3vh;
  color: var(--color_2);
}

.action-task {
  display: inline-flex;
  gap: 0.5vw;
}

.state-task {
  margin-top: 3vh;
}

.select-state {
  height: 0.5vh;
  width: 9vw;
}

.ic-confirm {
  position: relative;
  top: 0.5vh;
  right: -0.3vw;
  color: transparent;
}

.btn-send {
  width: 7vw;
  height: 3.2%;
  padding-top: 0.7vh;
  background-color: transparent;
  border: none;
  color: var(--color_2);
  font-weight: 500;
  cursor: pointer;
}

.btn-send:hover{
  color: var(--color_4);
}


.description-content {
  margin-top: 0.5vh;
  color: var(--color_3);
  font-size: 13px;
}

.state__control {
  background-color: var(--color_1); /* Cor de fundo */
  border: none !important; /* Borda */
  height: 0.5vh; /* Altura */
  box-shadow: none !important; /* Remove sombra */
  cursor: pointer!important;
}

.state__placeholder {
  color: rgba(240, 248, 255, 0.4) !important;
  font-size: 14px; /* Estilo em itálico */
}

.state__single-value	{
  color: var(--color_1) !important;
  font-weight: 600;
  font-size: 14px;
  text-align: start;
}


.state__menu {
  margin-top: 5.4vh !important;
  background-color: var(--color_1) !important; /* Cor de fundo */
  color: rgba(240, 248, 255, 0.4);
  z-index: 9999;
  font-size: 14px; /* Estilo em itálico */

}
.state__option {
  background-color: var(--color_1); /* Cor de fundo */
  cursor: pointer !important; /* Cursor de clique */
}

.state__option:hover {
  cursor: pointer !important;
}


.state__option--is-selected {
  color: var(--color_1);
  font-weight: 600;
}

.custom-alert {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  height: 5vh !important;
  width: 17vw !important;
  box-shadow: none !important;
  text-align: center !important;
  padding: 0 !important;
}

.custom-alert .swal2-icon {
  background-color:#1ed760 !important;
  box-shadow: none !important;
  font-size: 13px !important; /* Reduz o tamanho do ícone */
  margin: 0; /* Remove margens */
  
}

.custom-confirm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  height: 5vh !important;
  width: 17vw !important;
  color: #a5dc86 !important;
  box-shadow: none !important;
  text-align: center !important;
  padding: 0 !important;
}

.custom-confirm .swal2-icon {
  background-color:transparent !important;
  box-shadow: none !important;
  font-size: 13px !important; /* Reduz o tamanho do ícone */
  margin: 0; /* Remove margens */
  
}

.menu-user {
  position: inherit;
  display: flex;
  flex-direction: column;
  width: 16.5vw;
  height: auto;
  padding: 0.7vw;
  margin-right: 0.5vw;
  background-color: var(--color_1);
  border: solid 1px var(--color_) ;
  border-radius: 7px;
  z-index: 1001;
}

.user {
  position: relative;
  display: flex;
  padding: 1vw;
  flex-direction: column;
  align-items: center;
  background-color: var(--color_6);
  border-radius: 7px;
  width: 100%;
  height: auto;
}

.icon-user {
  color: var(--color_3);
  font-size: 42px !important; 
}

.user-name {
  color: var(--color_4);

}

.btn-menu {
  position: relative;
  bottom: 1vh;
  display: inline-flex;
  margin-top: 2.5vh;
  gap: 1vw;
}

.darkmode {
  position: relative;
  cursor: pointer;
  display: flex;
  padding: 0.5vw;
  background-color: transparent;
  border: none;
  border-radius: 7px;
  font-weight: 500;
  color: var(--color_2);
 }

 .darkmode:hover {
  background: var(--color_6);
 }

.signout {
 position: relative;
 cursor: pointer;
 display: flex;
 padding: 0.5vw;
 background-color: transparent;
 border: none;
 border-radius: 7px;
 font-weight: 500;
 color: #E89D9C;
}

.signout:hover {
  background-color: rgba(100, 0, 0, 0.3);
}

.ic-user {
  margin-left: 0.3vw;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: red;
}

.ic-theme {
  margin-right: 0.3vw;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: var(--color_2);
}

