.container-plan { 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color_1);
}

.nav-plans {
    position: relative;
    align-items: center;
    display: inline-flex;
    top: 20%;
    width: 100%;
}

.nav-plans ul {
}

.nav-plans button {
    position: relative;
    width: 15rem;
    height: 20rem;
    border: none;
    margin-left: 2rem;

}

