@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --color_1: #FAFAFA ;
    --color_2: rgba(20, 20, 20, 0.7);
    --color_3: rgba(20, 20, 20, 0.87);
    --color_4: rgba(20, 20, 20, 0.8);
    --color_5: #E8E8E8;
    --color_6: rgba(0, 0, 0, 0.1);
    --color_7: rgba(20, 20, 20, 0.5);
    --color_8: rgba(20, 20, 20, 0.1);
    --color_12: rgba(20, 20, 20, 0.4);
    --color_9: #2e2e2e;
    --color_10: #000000;
    --color_11:#575757; 
    --color_13: rgba(0, 0, 0, 0.1);


} 

[data-theme="dark"] {
    --color_1: #121212;
    --color_2: rgba(255, 255, 255, 0.7);
    --color_3: rgba(255, 255, 255, 0.6);
    --color_4: rgba(255, 255, 255, 0.8);
    --color_5: #DDD8D4;
    --color_5: #22272b;
    --color_6: rgb(40, 44, 48);
    --color_7: rgba(255, 255, 255, 0.5);
    --color_12: rgba(255, 255, 255, 0.4);
    --color_8: rgba(255, 255, 255, 0.1);
    --color_9: #d1d1d1;
    --color_10: #ffffff;
    --color_11:#a8a8a8;
   --color_13: rgba(255, 255, 255, 0.1);



}

* {
    right: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;  
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    outline: none;

}

body {
    background-color: var(--color_1);
    color: var(--color_2);
    transition: background-color 0.3s ease, color 0.3s ease;
  }